<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/init.css')}}">
  <title>Title</title>
  <style>
    text {
      color: black;
    }
  </style>
</head>

<body style="background-image: url('static/bg.jpg');
 background-size: cover;
">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/test">Style</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/test">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">个人中心 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">退出登录</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div style="width: 75%; margin-left: 12%; margin-top: 5%;">
    <div class="panel panel-default" style="background-color: rgb(135, 90, 213); ">
      <div class="panel-body">
        自定义模型
      </div>
      <div class="panel-footer">训练完将自动替换</div>
    </div>


  </div>

  <div style="width: 75%; margin-left: 12%;">
    <form action="/reSet" method="post" enctype="multipart/form-data">
      <div class="panel panel-success " style="background-color: aquamarine;">
        <div class="panel-body" >
          base
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">base </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;" >
        <div class="panel-body" >
          style_weight
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">style_weight </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          content_weight
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">content_weight </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          tv_weight
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">tv_weight </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          epochs
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">epochs </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          batch_size
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">batch_size </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          width
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">width </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>


      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          verbose_hist_batch
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">verbose_hist_batch </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>

      <div class="panel panel-success" style="background-color: aquamarine;">
        <div class="panel-body">
          verbose_image_batch
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">verbose_image_batch </span>
          <input type="text" class="form-control" placeholder="INPUT" aria-describedby="sizing-addon2">
        </div>
      </div>

      <div style="display: flex;
          justify-content: center;
          margin-bottom: 10%;
          transform: scale(1.05);">
          <button class="" style="
          width: 25%;
          font-size: 18px; /* 字体大小 */
        padding: 10px 20px; /* 内边距，控制按钮大小 */
        background-color: #007BFF; /* 背景颜色 */
        color: white; /* 文本颜色 */
        border: none; /* 移除边框 */
        border-radius: 5px; /* 圆角 */
        cursor: pointer; /* 鼠标悬停时的指针形状 */
        outline: none; /* 移除点击时的轮廓 */
        transition: all 0.3s ease;" type="submit">
        Submit
      </button>
        </div>
      

  </form>
  </div>


  {% if isRetrainSucc==False %}

  {% else %}
  <script>
    trains();
  </script>
  {% endif %}
  </form>

  {# <div style=" display: {{{{}} g.isRetrainSucc }}">#}
    {#
    <script>#}
      {#        // Your JavaScript code here#}
        {#        trains();# }
        {#    </script>#}
    {#
  </div>#}

  </div>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>

</html>